<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify User Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f0f0f0;
             }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        
        .custom-container {
            width: 80%;
            padding: 20px;
        }
        
        .form-group {
            margin-bottom: 20px; /* Add space between form inputs */
        }
        
        .btn-group {
            margin-top: 20px; /* Add space between form and button */
        }
    </style>
</head>
<body>
    {% if messages %}
    <ul class="messages" style="list-style-type: none; padding: 0; background-color: #0a2c0d; color: #ffffff; position: absolute; top: 0; left: 0; width: 100%; padding: 10px;">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="padding: 10px; margin-bottom: 5px;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container custom-container mt-5">
        
        
            
                
                    <h1 class="card-title">Welcome, {{ user_profile.user }}!</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="activity_level">Activity Level:</label>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="not_very_active" name="activity_level" class="custom-control-input" value="not_very_active" {% if user_profile.activity_level == "not_very_active" %} checked {% endif %} required>
                                <label class="custom-control-label" for="not_very_active">Not Very Active</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="moderately_active" name="activity_level" class="custom-control-input" value="moderately_active" {% if user_profile.activity_level == "moderately_active" %} checked {% endif %} required>
                                <label class="custom-control-label" for="moderately_active">Moderately Active</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="very_active" name="activity_level" class="custom-control-input" value="very_active" {% if user_profile.activity_level == "very_active" %} checked {% endif %} required>
                                <label class="custom-control-label" for="very_active">Very Active</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="goal">Goal:</label>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="maintain_weight" name="goal" class="custom-control-input" value="maintain_weight" {% if user_profile.goal == "maintain_weight" %} checked {% endif %} required>
                                <label class="custom-control-label" for="maintain_weight">Maintain Weight</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="gain_weight" name="goal" class="custom-control-input" value="gain_weight" {% if user_profile.goal == "gain_weight" %} checked {% endif %} required>
                                <label class="custom-control-label" for="gain_weight">Gain Weight</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="lose_weight" name="goal" class="custom-control-input" value="lose_weight" {% if user_profile.goal == "lose_weight" %} checked {% endif %} required>
                                <label class="custom-control-label" for="lose_weight">Lose Weight</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="height">Height:</label>
                            <input type="number" class="form-control" id="height" name="height" min="100" max="500" value="{{ user_profile.height }}">
                        </div>
                        <div class="form-group">
                            <label for="weight">Weight:</label>
                            <input type="number" class="form-control" id="weight" name="weight" min="25" max="200" value="{{ user_profile.current_weight }}">
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <a href="/home" class="btn btn-primary ml-2">Go Home</a>
                        </div>
                    </form>
            
            
       
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
